{
  "env": {
    "node": true
  },

  "extends": [
    "bengler",
    "bengler/legacy-overrides/es5"
  ],

  "rules": {
    "prefer-arrow-callback": 0,
    "prefer-template": 0,
    "no-console": 0,
    "no-process-exit": 0
  }
}